{% extends 'base/base.html' %}
{% load static %}

{% block title %}About Us - Medanta Clone{% endblock %}

{% block meta_description %}Learn more about Medanta Clone and our commitment to healthcare excellence{% endblock %}

{% block extra_css %}
<!-- Add about page specific CSS here -->
<!-- <link rel="stylesheet" href="{% static 'base/css/about.css' %}"> -->
{% endblock %}

{% block content %}
<nav class="blog-nav">
    
    <div class="blog-nav-content">
        <div class="nav-content-item">
        <ul class="blog-list">
            <li class="blog-list-item">Featured Blogs</li>
            <li class="blog-list-item blog-list-2">All Blogs</li>

        </ul>
        </div>
        <div class="nav-content-item">

        <div class="lang-select">
            <select class="lang-selector" name="" id="">
                <option class="lang-selector-item" value="">Select Language</option>
                <option value="">English</option>
                <option value="">Hindi</option>

            </select>
        </div>
        </div>
    </div>

</nav>



<div class="main-bog-content">




   <h1>All Blogs</h1>

   <section class="main-blog-section">

    div-blog-sec

   </section>
   
</div>
{% endblock %}

{% block extra_js %}
<!-- Add about page specific JavaScript here -->
{% endblock %}
